MAILTO=<MAIL_TO>
SHELL=/bin/bash
YANGCATALOG_CONFIG_PATH=<YANGCATALOG_CONFIG_PATH>
VIRTUAL_ENV=<VIRTUAL_ENV>
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
#

5 1 * * * (cd /module-compilation/cronjobs ; ./cronjob)
0 10 * * 3 (cd /module-compilation/cronjobs ; ./cronjob-drafts)
