MAILTO=<MAIL_TO>
SHELL=/bin/bash
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
#
#  SDO Analysis to fetch from IETF, YangModels, ...
#
5 1 * * * (cd /sdo_analysis/bin/ ; ./cronjob)
